In [4]:
import pandas as pd
from datetime import timedelta

# Excel dosyasını oku
df = pd.read_excel('test.xlsx')

# 'date_v' kolonundaki değerlere 1 saat ekle
df['date_v'] = pd.to_datetime(df['date_v']) + timedelta(hours=24)

# Güncellenmiş verileri başka bir Excel dosyasına kaydet

df.to_excel('guncellenmis_veriseti.xlsx', index=False)

sondata= pd.read_excel('guncellenmis_veriseti.xlsx')
print(sondata)

       id              date_v   reg  yukh   power  temp w_status
0       1 2024-01-18 18:45:00  4214  6047  617000     0     rain
1       2 2024-01-18 19:00:00  4214  6046  617000     0     rain
2       3 2024-01-18 19:15:00  4213  6046  617000     0     rain
3       4 2024-01-18 19:30:00  4213  6045  616000     0     rain
4       5 2024-01-18 19:45:00  4212  6046  616000     0     rain
..    ...                 ...   ...   ...     ...   ...      ...
873  2902 2024-01-27 23:30:00  4149  6006  303000     0        0
874  2904 2024-01-27 23:45:00  4148  6005  303000     0        0
875  2907 2024-01-28 00:00:00  4149  6004  303000     0        0
876  2909 2024-01-28 00:15:00  4149  6005  301000     0        0
877  2911 2024-01-28 00:30:00  4150  6005  302000     0        0

[878 rows x 7 columns]

In [6]:
data=pd.read_excel("guncellenmis_veriseti.xlsx")

       id              date_v   reg  yukh   power  temp w_status
0       1 2024-01-18 18:45:00  4214  6047  617000     0     rain
1       2 2024-01-18 19:00:00  4214  6046  617000     0     rain
2       3 2024-01-18 19:15:00  4213  6046  617000     0     rain
3       4 2024-01-18 19:30:00  4213  6045  616000     0     rain
4       5 2024-01-18 19:45:00  4212  6046  616000     0     rain
..    ...                 ...   ...   ...     ...   ...      ...
873  2902 2024-01-27 23:30:00  4149  6006  303000     0        0
874  2904 2024-01-27 23:45:00  4148  6005  303000     0        0
875  2907 2024-01-28 00:00:00  4149  6004  303000     0        0
876  2909 2024-01-28 00:15:00  4149  6005  301000     0        0
877  2911 2024-01-28 00:30:00  4150  6005  302000     0        0

[878 rows x 7 columns]

In [7]:
data=data.drop(["id","temp","w_status"],axis=1)
print(data)

                 date_v   reg  yukh   power
0   2024-01-18 18:45:00  4214  6047  617000
1   2024-01-18 19:00:00  4214  6046  617000
2   2024-01-18 19:15:00  4213  6046  617000
3   2024-01-18 19:30:00  4213  6045  616000
4   2024-01-18 19:45:00  4212  6046  616000
..                  ...   ...   ...     ...
873 2024-01-27 23:30:00  4149  6006  303000
874 2024-01-27 23:45:00  4148  6005  303000
875 2024-01-28 00:00:00  4149  6004  303000
876 2024-01-28 00:15:00  4149  6005  301000
877 2024-01-28 00:30:00  4150  6005  302000

[878 rows x 4 columns]

In [9]:
from datetime import datetime
data['date_v'] = pd.to_datetime(data['date_v'])
data['unix_time'] = data['date_v'].apply(lambda x: int((x - datetime(1970, 1, 1)).total_seconds()))
data=data.drop("date_v",axis=1)
print(data)

      reg  yukh   power   unix_time
0    4214  6047  617000  1705603500
1    4214  6046  617000  1705604400
2    4213  6046  617000  1705605300
3    4213  6045  616000  1705606200
4    4212  6046  616000  1705607100
..    ...   ...     ...         ...
873  4149  6006  303000  1706398200
874  4148  6005  303000  1706399100
875  4149  6004  303000  1706400000
876  4149  6005  301000  1706400900
877  4150  6005  302000  1706401800

[878 rows x 4 columns]

In [10]:
data=data[(data != 0).all(axis=1)]
print(data)

      reg  yukh   power   unix_time
0    4214  6047  617000  1705603500
1    4214  6046  617000  1705604400
2    4213  6046  617000  1705605300
3    4213  6045  616000  1705606200
4    4212  6046  616000  1705607100
..    ...   ...     ...         ...
873  4149  6006  303000  1706398200
874  4148  6005  303000  1706399100
875  4149  6004  303000  1706400000
876  4149  6005  301000  1706400900
877  4150  6005  302000  1706401800

[876 rows x 4 columns]

In [11]:
data=data.dropna()
print(data)

      reg  yukh   power   unix_time
0    4214  6047  617000  1705603500
1    4214  6046  617000  1705604400
2    4213  6046  617000  1705605300
3    4213  6045  616000  1705606200
4    4212  6046  616000  1705607100
..    ...   ...     ...         ...
873  4149  6006  303000  1706398200
874  4148  6005  303000  1706399100
875  4149  6004  303000  1706400000
876  4149  6005  301000  1706400900
877  4150  6005  302000  1706401800

[876 rows x 4 columns]

In [12]:
import pandas as pd
import numpy as np
from datetime import datetime
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import r2_score
from keras.models import load_model

# Veriyi yükleme ve gereksiz sütunları kaldırma
data = pd.read_excel("guncellenmis_veriseti.xlsx")
data = data.drop(["id", "temp", "w_status"], axis=1)

data = data[(data != 0).all(axis=1)]  # Tüm sütunlar için 0 olmayan satırları seçme
data = data.dropna()  # NaN değerleri içeren satırları kaldırma

# 'date' sütununu datetime formatına çevirme
data['date_v'] = pd.to_datetime(data['date_v'])

# 'date' sütununu Unix zaman damgasına çevirme
data['unix_time'] = data['date_v'].apply(lambda x: int((x - datetime(1970, 1, 1)).total_seconds()))

# Gereksiz sütunu ve orijinal tarih sütununu kaldırma
data = data.drop(["date_v"], axis=1)

# MinMaxScaler ile 'yukh', 'reg' ve 'power' sütunlarını ölçeklendirme
scaler_yukh = MinMaxScaler()
scaler_reg = MinMaxScaler()
scaler_power = MinMaxScaler()

data['yukh_scaled'] = scaler_yukh.fit_transform(data[['yukh']])
data['reg_scaled'] = scaler_reg.fit_transform(data[['reg']])
data['power_scaled'] = scaler_power.fit_transform(data[['power']])

# Ölçeklenmiş sütunları veriden kaldırma
data = data.drop(["yukh", "reg", "power"], axis=1)

# Zaman serisi formatına dönüştürme
def create_time_series_data(data, window_size):
    X, y = [], []

    for i in range(len(data) - window_size):
        # Pencere boyutu kadar veriyi seçme
        window_yukh = data['yukh_scaled'][i:i+window_size].values
        window_reg = data['reg_scaled'][i:i+window_size].values
        window_power = data['power_scaled'][i:i+window_size].values
        target = data['yukh_scaled'][i: i + window_size]

        X.append(np.column_stack((window_yukh, window_reg, window_power)))
        y.append(target)

    return np.array(X), np.array(y)

# Pencere boyutunu belirleme (aynı boyutu kullanmalısınız)
window_size = 64

# Giriş ve hedef verilerini oluşturma
X, y = create_time_series_data(data, window_size)

# Modeli yükleme
model = load_model('model9481.h5')

# Test seti üzerinde tahmin yapma
test_predictions = model.predict(X)

# Test setindeki pencere boyutunda son gerçek değerler
y_true = y[:, -1]

# Test setindeki pencere boyutunda son tahminler
y_pred = test_predictions[:, -1]

# R-kare skoru hesaplama
r2_test = r2_score(y_true, y_pred)

print(f'Modelin Test R-kare skoru: {r2_test}')

26/26 [==============================] - 1s 22ms/step
Modelin Test R-kare skoru: 0.9739492825054626

In [18]:
# Gerçek 'yukh' değerlerini al
yukh_original = scaler_yukh.inverse_transform(y[:, -1].reshape(-1, 1)).flatten()

# Tahmin edilen 'yukh' değerlerini ölçeklendirmeyi tersine çevirme
predicted_yukh_original = scaler_yukh.inverse_transform(test_predictions[:, -1].reshape(-1, 1)).flatten()

# Veri setindeki tarih bilgilerini al
date_values = data.iloc[window_size:].index

# Veri çerçevesi oluşturma, orijinal tarih bilgisini dahil ederek
result_df = pd.DataFrame({'Gerçek Yukh': yukh_original,
                          'Tahmin Yukh': predicted_yukh_original,
                          'Date': date_values})

# Sonuçları ekrana yazdırma
print(result_df)

# Veriyi Excel dosyasına yazma
result_df.to_excel("gercek_tahmin_yukh1.xlsx", index=False)

     Gerçek Yukh  Tahmin Yukh  Date
0         6047.0  6047.085449    64
1         6044.0  6045.154297    65
2         6045.0  6045.241699    66
3         6046.0  6045.894043    67
4         6043.0  6044.343262    68
..           ...          ...   ...
807       6007.0  6007.411133   873
808       6006.0  6004.934082   874
809       6005.0  6003.037109   875
810       6004.0  6002.067383   876
811       6005.0  6002.730469   877

[812 rows x 3 columns]

In [29]:
dff=pd.read_excel("guncellenmis_veriseti.xlsx")
print(dff.tail(22))

       id              date_v   reg  yukh   power  temp w_status
856  2868 2024-01-27 19:15:00  4161  6033  305000     0        0
857  2870 2024-01-27 19:30:00  4161  6034  304000     0        0
858  2872 2024-01-27 19:45:00  4160  6033  304000     0        0
859  2874 2024-01-27 20:00:00  4159  6033  304000     0        0
860  2876 2024-01-27 20:15:00  4157  6035  304000     0        0
861  2878 2024-01-27 20:30:00  4158  6033  305000     0        0
862  2880 2024-01-27 20:45:00  4157  6034  305000     0        0
863  2882 2024-01-27 21:00:00  4156  6031  304000     0        0
864  2884 2024-01-27 21:15:00  4154  6029  305000     0        0
865  2886 2024-01-27 21:30:00  4148  6030  305000     0        0
866  2888 2024-01-27 21:45:00  4151  6027  305000     0        0
867  2890 2024-01-27 22:00:00  4152  6023  303000     0        0
868  2892 2024-01-27 22:15:00  4150  6018  304000     0        0
869  2895 2024-01-27 22:30:00  4147  6018  304000     0        0
870  2896 2024-01-27 22:45:00  4146  6016  304000     0        0
871  2898 2024-01-27 23:00:00  4147  6012  303000     0        0
872  2900 2024-01-27 23:15:00  4146  6007  302000     0        0
873  2902 2024-01-27 23:30:00  4149  6006  303000     0        0
874  2904 2024-01-27 23:45:00  4148  6005  303000     0        0
875  2907 2024-01-28 00:00:00  4149  6004  303000     0        0
876  2909 2024-01-28 00:15:00  4149  6005  301000     0        0
877  2911 2024-01-28 00:30:00  4150  6005  302000     0        0

In [28]:
dff1=pd.read_excel("gercek_tahmin_yukh1.xlsx")
print(dff1.tail(21))

     Gerçek Yukh  Tahmin Yukh  Date
791       6033.0  6030.809082   857
792       6034.0  6031.181641   858
793       6033.0  6030.710938   859
794       6033.0  6030.643555   860
795       6035.0  6031.652344   861
796       6033.0  6031.265625   862
797       6034.0  6031.398926   863
798       6031.0  6030.107910   864
799       6029.0  6028.512207   865
800       6030.0  6028.043945   866
801       6027.0  6027.377930   867
802       6023.0  6025.332031   868
803       6018.0  6019.950684   869
804       6018.0  6017.828125   870
805       6016.0  6016.070312   871
806       6012.0  6012.748535   872
807       6007.0  6007.411133   873
808       6006.0  6004.934082   874
809       6005.0  6003.037109   875
810       6004.0  6002.067383   876
811       6005.0  6002.730469   877